<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>__HUSI_APP_NAME__</string>
    <key>CFBundleExecutable</key>
    <string>__HUSI_EXECUTABLE_NAME__</string>
    <key>CFBundleGetInfoString</key>
    <string>__HUSI_APP_DESCRIPTION__</string>
    <key>CFBundleIconFile</key>
    <string>__HUSI_ICON_FILE__</string>
    <key>CFBundleIdentifier</key>
    <string>__HUSI_PACKAGE_NAME__</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>__HUSI_APP_NAME__</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>__HUSI_MACOS_BUNDLE_VERSION__</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>__HUSI_URL_TYPE_NAME__</string>
            <key>CFBundleURLSchemes</key>
            <array>
                __HUSI_URL_SCHEME_ENTRIES__
            </array>
        </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>__HUSI_MACOS_BUNDLE_VERSION__</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
